.search {
    -webkit-appearance: none;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
    width: 588px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
}